@import "util.css";
.intro {
    height: 80vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.intro-typography {
    font-family: 'Carter One', cursive;
    font-size: 7.5rem;
    line-height: 8.125rem;
    color:#FF5F15;
}

.intro-orange-line {
    position: absolute;
    height: 10px;
    width: clamp(10vw, 32vmin, 30%);
    border: none;
    background-color: #FF5F15;
    border-radius: 2px;
}
.intro-subtitle {
    color:#fff;
    padding: 20px 0;
    font-size: 1.25rem;
    font-weight:400;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.bounce2 {
animation: bounce2 2s ease infinite;
}

.step-1 {
    position: absolute;
    visibility: hidden;
    animation: 0s linear 0.8s forwards delayedShow;
    transform: translate(21vw, -22vh);
}

.step-2 {
    position: absolute;
    animation: 0s linear 1.2s forwards delayedShow;
    visibility: hidden;
    transform: translate(24vw, -28vh);
}

.step-3 {
    position: absolute;
    animation: 0s linear 1.6s forwards delayedShow;
    visibility: hidden;
    transform: translate(21vw, -34vh);
}

@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

@keyframes delayedShow {
    to {
      visibility: visible;
    }
}
  
@media (max-width: 1080px){
    .intro-typography {
        font-size: 6rem;
        line-height: 6.75rem;
    }
    .intro-subtitle {
        font-size: 1rem;
    }
    .intro-orange-line {
        width: 22vw;
    }
}

@media (max-width: 540px), (max-height: 600px)  {
    .intro-typography {
        font-size: 4rem;
        line-height: 4.5rem;
    }
}